<a href="https://colab.research.google.com/github/LauArias98/numpy/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import numpy as np

# Cargar el archivo anime.csv como dataframe
df = pd.read_csv("anime.csv")
df.head()

                        _id  anime_id  ...                studios   type
0  589eac5f1bc3ae2c788af112     32281  ...       CoMix Wave Films  Movie
1  589eac5f1bc3ae2c788af113      5114  ...                  Bones     TV
2  589eac5f1bc3ae2c788af114     28977  ...  Bandai Namco Pictures     TV
3  589eac5f1bc3ae2c788af115      9253  ...              White Fox     TV
4  589eac5f1bc3ae2c788af116      9969  ...                Sunrise     TV

[5 rows x 14 columns]

In [64]:
# Reemplazar los valores nulos segun su tipo, los numericos por el promedio de la Columna y los strings por 'none'
df['genre'].fillna('None')
df['img'].fillna('None')
df['main_cast'].fillna('None')
df['name'].fillna('None')
df['source'].fillna('None')
df['studios'].fillna('None')
df['type'].fillna('None')
prom_c1 = df['c1'].mean()
prom_c2 = df['c2'].mean()
prom_episodes = df['episodes'].mean()
prom_members = df['members'].mean()
prom_rating = df['rating'].mean()
df['c1'].fillna(prom_c1)
df['c2'].fillna(prom_c2)
df['episodes'].fillna(prom_episodes)
df['members'].fillna(prom_members)
df['rating'].fillna(prom_rating)

df.describe()

           anime_id            c1  ...       members        rating
count  12211.000000  12211.000000  ...  1.221100e+04  12211.000000
mean   13969.164606     20.470068  ...  1.819363e+04      6.336203
std    11429.596278     10.953000  ...  5.498655e+04      1.429432
min        1.000000      1.000000  ...  5.000000e+00     -1.000000
25%     3460.500000     13.000000  ...  2.350000e+02      5.820000
50%    10178.000000     18.000000  ...  1.583000e+03      6.550000
75%    24651.000000     30.000000  ...  9.574000e+03      7.170000
max    34527.000000     41.000000  ...  1.013917e+06     10.000000

[8 rows x 6 columns]

In [65]:
# Obtener suma total de 'members'
members = df['members'].sum()
print(members)

222162380

In [69]:
# Obtener el rating promedio de cada tipo de serie 
tipos = df.groupby(['type'])
media = tipos['rating'].mean()
print(media)

type
Movie      6.159560
Music      5.588996
ONA        5.572731
OVA        6.314707
Special    6.499096
TV         6.662497
Name: rating, dtype: float64

In [70]:
# Obtener el maximo rating de series con genero 'Music'
max = music['rating'].max()
print(max)

8.38

In [77]:
# Obtener rating promedio de series con 'Sugita, Tomokazu' como parte del 'main_cast'
st = df.loc[lambda st: df['main_cast'] == 'Sugita,Tomokazu', :]
st.head()

                           _id  anime_id  c1  ...       source         studios type
5144  589eae011bc3ae2c788b052a     32682  18  ...     Original        Tomovies   TV
7659  589eaeca1bc3ae2c788b0efd     10406  30  ...  4-komamanga  Studio PuYUKAI  OVA

[2 rows x 14 columns]

In [78]:
rating_promedio = st['rating'].mean()
print(rating_promedio)

5.859999999999999